<!-- Navigation -->
	
	<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        	<div class="navbar-brand page-scroll"><a href={{ site.baseurl }}/index.html>{{site.title}}</a></div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/bigpicture">Big Picture</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/technical">Technical</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/meta">Meta</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/updates">Updates</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/library">Library</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    </header>
    
    <body>
    <div class="container">

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

