<!-- Intro Section -->
    <section id="intro"  >
        <div class="container"">
            <div class="row">
                <div class="col-md-8 text-left">
                    <h3 class="section-subheading text-muted">We are three public agencies,
                     working together, trying to create better tools to analyze human-scale
                      travel in congested, urban cities</h3>
                    <div class="text-muted">What is Fast-Trips? </div>
                    <p>
                      Fast-Trips is an open-source code base that has been developed
                      at the University of Arizona and the University of Texas at Austin 
                      via a series of Federal grants to simulate transit passenger route-finding
                      and user experiences.  
                    </p> 
                      <div class="text-muted">Why are we (three public agencies) implementing Fast-Trips? </div>
                    <p>
                      Many of the questions confronting urban transportation planners 
                      today concern moving people rather than vehicles. However, most advanced
                      operational planning analysis tools still operate on the vehicle
                      as the primary unit of analysis and use a geographic scale incompatible
                      with the measures of concern to human-scale travel.  When our ability 
                      to analyze solution A far surpasses our ability
                      to analyze and understand solutions B, C, and D, we may be more likely
                      to pick option A even though it isn't the best.  
                    </p> 
                    <p> 
                      Great strides in advanced operational planning for vehicles have been widely
                      supported and are starting to be adopted by the mainstream.  This includes
                      technology known as <a href="http://onlinepubs.trb.org/onlinepubs/circulars/ec153.pdf">
                      Dynamic Traffic Assignment</a> which routes
                      vehicles through an entire area using a second-by-second time resolution.  
                      While transit is often represented in Dynamic Traffic Assignment, its 
                      performance can only be measured based on how well the vehicle performs in traffic,
                      not the quality of the route to the person taking transit.  While this 
                      enables engineers to analyze how much faster a bus might get through an
                      intersection with transit signal priority, it doesn't let planners understand
                      the levels of investment necessary to ameliorate over-crowding or engineers
                      and service planners understand the system-level effects of strategies
                      to address transit reliability.
                     </p> 
                      <div class="text-muted">Who is "We"? </div>
                     <p>
                      We are a <a href="/meta">team</a> of three public-agencies with similar
                      goals for analyzing human-scale transportation investments who came together
                      in 2014 to apply for and win a Federal grant through the 
                      <a href="http://www.fhwa.dot.gov/goshrp2/ImplementationAssistance">
                      SHRP-2 program</a> ( specifically, C10 Implementation Assistance ).  This will 
                      be the first attempt to implement a production-ready and calibrated person-based 
                      dynamic transit component to a regional transportation planning
                      model based on the Fast-Trips code base.
                     <p>
                      This website will document our plans, journey, and lessons-learned.  
                     <p>

                </div>
            </div>
        </div>
    </section>
